/*  your css code here. If applicable */
.div{
	color:#00f;
	background-color:#eee;
	font-family:Arial;
	font-size:20px;
}
.naik{
	color:#00f;
	background-color:#eee;
	font-family:Arial;
	font-size:20px;
}

